/* -------  General Styles ------- */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group img {
  width: 100%;
  margin-bottom: 15px;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.itemp {
  margin-top: 10px;
  align-self: auto;
  justify-content: center;
  font-size: medium;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

header h1 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  font-size: 0.8rem;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  font-size: 15px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 0.5rem;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
  width: 100%;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  form select,
  form input {
    margin: 0;
    width: 80%;
  }

  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #ideas .group {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #ideas div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
  }
  #about {
    width: 100%;
  }

  #host {
    width: 100%;
  }

  .logo {
    font-size: 1.9rem;
  }
}

/* /* @media all and (min-width: 550px) {
  #about {
    width: 100%;
  }

  #host {
    width: 100%;
  }

  footer {
    width: 100%;
  }
} */

@media all and (max-width: 350px) {
  .logo {
    font-size: 2rem;
  }
} 
